server:
  port: 8089

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/driverdb
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: driver-service
logging:
  pattern:
    console: '{"timestamp":"%d{yyyy-MM-dd HH:mm:ss}","level":"%p","service":"driver-service","message":"%m","thread":"%t"}%n'
      